/* || GENERAL  */

/* Custom Properties */
:root {
  /* Primary Colors */
  --primary-color-cyan: #29b3b0;
  --primary-color-bright-yellow: #c0df34;

  /* Neutral Colors */
  --neutral-color-light-gray: #e5eff5;
  --neutral-color-grayish-blue: #98a6bd;

  /* Other Colors */
  --other-color-pure-white: #fff;
  --other-color-ocean-blue: #2dc2bf;

  /* Shadow Colors */
  --shadow-color-card: #0000001a;
  --shadow-color-button: #00000017;
}

/* Body Styles (Background, Font, Etc.) */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--neutral-color-light-gray);
  font: 400 1rem Karla, sans-serif;
  padding: 4.5rem 2rem;
}

/* Styles For Visually Hidden Elements  */
.visually-hidden:not(:focus, :active) {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* || SINGLE PRICE GRID COMPONENT (MOBILE) */

.single-price-grid-component {
  display: grid;
  grid-template-columns: fit-content(19.4rem);
  border-radius: 5px;
  box-shadow: 0 0 25px var(--shadow-color-card);
}

/* | Join Our Community Section | */
.join-our-community-section {
  background-color: var(--other-color-pure-white);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 1.75rem 1.48rem 1.99rem;
}

/* Heading */
.join-our-community-section > .heading {
  color: var(--primary-color-cyan);
  font: 700 1.2rem Karla, sans-serif;
  word-spacing: 0.04rem;
}

/* Guarantee Note */
.join-our-community-section > .guarantee-note {
  color: var(--primary-color-bright-yellow);
  font: 700 0.91rem Karla, sans-serif;
  line-height: 1.35;
  margin-top: 1.55rem;
}

/* Description */
.join-our-community-section > .description {
  color: var(--neutral-color-grayish-blue);
  font: 400 0.854rem Karla, sans-serif;
  line-height: 1.9;
  margin-top: 1.05rem;
}

/* | Monthly Subscription Section | */
.monthly-subscription-section {
  background-color: var(--primary-color-cyan);
  padding: 1.55rem 1.48rem 1.43rem;
}

/* Heading */
.monthly-subscription-section > .heading {
  color: var(--other-color-pure-white);
  font: 700 1.1rem Karla, sans-serif;
}

/* Price Per Month Tag */
.monthly-subscription-section > .price-per-month-tag {
  display: flex;
  align-items: center;
  color: var(--other-color-pure-white);
  font: 700 1.96rem Karla, sans-serif;
  margin-top: 1.1rem;
}

.monthly-subscription-section > .price-per-month-tag > span {
  color: var(--neutral-color-light-gray);
  font: 400 0.98rem Karla, sans-serif;
  margin-left: 0.8rem;
}

/* Price Per Day Tag */
.monthly-subscription-section > .price-per-day-tag {
  color: var(--other-color-pure-white);
  font: 400 0.975rem Karla, sans-serif;
  margin-top: 0.5rem;
}

/* Sign Up Button */
.monthly-subscription-section > .sign-up-button {
  width: 100%;
  color: var(--other-color-pure-white);
  background-color: var(--primary-color-bright-yellow);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.908rem 0;
  margin-top: 1.86rem;
  box-shadow: 0 10px 10px var(--shadow-color-button);
  transition: color 0.15s, background-color 0.15s, opacity 0.15s;
}

.monthly-subscription-section > .sign-up-button:hover {
  color: var(--primary-color-bright-yellow);
  background-color: var(--other-color-pure-white);
}

.monthly-subscription-section > .sign-up-button:active {
  opacity: 0.8;
}

/* | Why Us Section | */
.why-us-section {
  background-color: var(--other-color-ocean-blue);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.67rem 1.48rem 1.44rem;
}

/* Heading */
.why-us-section > .heading {
  color: var(--other-color-pure-white);
  font: 700 1.1rem Karla, sans-serif;
}

/* Description */
.why-us-section > .feature-list {
  color: var(--neutral-color-light-gray);
  font: 400 0.854rem Karla, sans-serif;
  line-height: 1.464;
  list-style: none;
  padding: 0;
  margin-top: 1.2rem;
  margin-bottom: 0;
}

/* || SINGLE PRICE GRID COMPONENT (DESKTOP) */
@media all and (width >= 48rem) {
  .single-price-grid-component {
    grid-template-columns: repeat(2, minmax(50%, 19.844rem));
    border-radius: 8px;
  }

  /* | Join Our Community Section | */
  .join-our-community-section {
    grid-column: span 2;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 2.6rem 2.51rem 2.45rem;
  }

  /* Heading */
  .join-our-community-section > .heading {
    font: 700 1.45rem Karla, sans-serif;
  }

  /* Guarantee Note */
  .join-our-community-section > .guarantee-note {
    font: 700 1.1rem Karla, sans-serif;
    margin-top: 1.58rem;
  }

  /* Description */
  .join-our-community-section > .description {
    font: 400 0.98rem Karla, sans-serif;
    line-height: 1.66;
    margin-top: 0.69rem;
  }

  /* | Monthly Subscription Section | */
  .monthly-subscription-section {
    grid-column: 1;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 0;
  }

  /* | Why Us Section | */
  .why-us-section {
    grid-column: 2;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 8px;
  }
}
